llama-index
llama-index-llms-openai
llama-index-embeddings-openai
llama_index.llms.dashscope
llama-index-llms-dashscope
llama-index-embeddings-dashscope
python-dotenv
gradio
jinja2
pypdf
docx2txt
fastapi
uvicorn
pydantic
prometheus-fastapi-instrumentator
chromadb==0.5.3
llama-index-vector-stores-chroma
redis
fastapi-limiter==0.1.6
dashvector
llama-index-vector-stores-dashvector
oss2

